.exo2{
    text-align: center;
    background-color: hotpink;
}
ul{
    font-size: 26px;
}

.exouno{
    background-color: lawngreen;
}

img{
    width: 150px;
    height: 150px;
}

.bloc3{
text-align: right;
}