body{
    background-color: lightpink;
    width: 900px;
    margin: 0 auto;
    
}
.yellow{
    background-color: yellow;
}

.gray{
    background-color: gray;
}

.white{
    background-color: white;
  
}
.black{
    background-color: black;
}
td{
    width: 35px;
    height: 35px;
}
.blue{
    background-color: blue;
}
table{
    border-collapse: collapse;
}