.orange{
    background-color: orangered;
    border: 1px solid orangered;
}
.orange2{
    color: orangered;
}

body{
    background-color: #DEDEDE;
}
.white{
    color: white;
}
.navbar-nav a{
    color: white !important;
}
.btn{
    color: white;
}